.button {
  border-radius: var(--rounded-button-border-radius);
  padding: 0.5rem;
  height: var(--rounded-button-size);
  width: var(--rounded-button-size);
  background-color: var(--rounded-button-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconify {
  font-size: var(--rounded-button-icon-font-size);
  border-radius: var(--rounded-button-border-radius);
  color: var(--rounded-button-color);
  background-color: var(--rounded-button-background-color);
  transition: var(--transition);
  transition-property: color, background-color;

  &:hover {
    color: var(--rounded-button-color-on-hover, var(--primary-color));
  }
}
