:host {
  display: flex;
  align-items: center;
}

.user-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.welcome {
  font-weight: bold;
  margin-right: 1.5rem;
  font-size: 1.85rem;
}

.dropdown-icon {
  margin-left: -0.3rem;
  margin-right: -1rem;
}
