app-articles-welcome-message {
  display: block;
  margin-top: 8rem;
}

app-search-articles {
  display: block;
  margin-top: 6rem;
}

app-articles-by-category {
  display: block;
  margin-top: 6rem;
}
