@import "../../../../../styles/mixin";

form {
  margin-bottom: 2rem;
}

.comment-input {
  display: flex;

  & app-user-avatar {
    @include avatar;
  }

  & .textarea {
    width: 100%;
    position: relative;
  }

  & textarea {
    position: relative;
    height: 5.5rem;
  }

  & .textarea::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: -1rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid var(--comment-background-color);
    border-bottom: 1rem solid transparent;
    border-left: none;
  }
}

.comment-submit {
  display: flex;
  justify-content: flex-end;
}

.not-authenticated {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}
