.header {
  --post-title-margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-actions {
  --button-size: 3rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    margin-left: 1rem;
  }
}

.row {
  position: relative;
  box-shadow: var(--box-shadow);
  & .row-actions {
    --button-size: 3.5rem;
    display: none;
    position: absolute;
    top: 0.8rem;
    right: 2rem;

    & > * {
      margin-left: 0.8rem;
    }
  }

  &:hover .row-actions {
    display: flex;
    align-items: center;
  }
}
