<app-manage-resources-page-layout
  pageTitle="Feedbacks"
  [previousButtonCssClasses]="previousButtonCssClasses"
  [nextButtonCssClasses]="nextButtonCssClasses"
  (previousButtonClick)="handlePreviousButtonClickEvent()"
  (nextButtonClick)="handleNextButtonClickEvent()"
  (filter)="onFilter($event)"
>
  <ng-container class="table">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="author">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let element">
          <app-user [user]="element.author"></app-user>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let element">{{element.createdAt | date}}</td>
      </ng-container>

      <ng-container matColumnDef="feedback">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Feedback</th>
        <td mat-cell *matCellDef="let element">{{element.value}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </ng-container>
</app-manage-resources-page-layout>
