:host {
  --navbar-padding: 0;
  @media screen and (max-width: 480px) {
    --navbar-padding: 0 3rem;
  }

  position: fixed;
  top: 0;
  z-index: var(--navbar-z-index);
  width: 100%;
  background-color: var(--body-background-color);
  transition: box-shadow 0.2s ease-in;
  padding: var(--navbar-padding);
}

:host.shadow {
  box-shadow: var(--box-shadow);
}

nav {
  margin: 0 auto;
  width: var(--main-page-width);
  max-width: var(--max-main-page-width);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.not-authenticated-user-links {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
}

.not-authenticated-user-links > * {
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  cursor: pointer;
  color: var(--navbar-link-color);

  &:hover {
    background-color: var(--navbar-link-background-color-on-hover);
  }
}
