:host {
  display: block;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 0.3rem solid var(--border-color);
}

h1 {
  color: var(--post-title-color);
  line-height: 1;
  font-weight: 100;
  font-size: 8.5rem;
}

h1::first-line {
  font-weight: 400;
}

.metadata {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.publish-date {
  font-size: 1.5rem;
  font-weight: 300;
}
