.header {
  --post-title-margin-bottom: 2rem;
  --button-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-table-actions-container {
  display: flex;
  align-items: center;
}

:host ::ng-deep .top-table-actions-container > * {
  margin-left: 1rem;
}

.bottom-table-actions {
  --button-size: 3rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    margin-left: 1rem;
  }
}
