body.dark {
  --primary-color: #078eed;
  --body-color: #d1d2d3;
  --body-background-color: #1c1f23;
  --navbar-icon-color: #eee;
  --welcome-message-title-color: #dedede;
  --welcome-message-color: #d1d2d3;
  --logo-text-color: white;
  --tooltip-color: #fff;
  --tooltip-background-color: #394048;
  --box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --border-color: #394048;

  --search-posts-tags-border-color: #262a2d;
  --search-posts-tags-border-color-on-active: var(--primary-color);
  --select-selected-value-color: #888;
  --search-posts-tags-background-color: #32373b;
  --search-posts-input-color: #d1d2d3;
  --search-posts-input-background-color: #262a2d;
  --search-posts-input-placeholder-color: #888;
  --search-posts-icon-color: #888;
  --search-posts-icon-background-color: #262a2d;

  --select-selected-option-color: var(--primary-color);
  --select-selected-option-border-color: var(--primary-color);
  --select-selected-option-background-color: inherit;
  --select-options-color: #888;
  --select-options-border-color: #262a2d;
  --select-options-background-color: #262a2d;
  --select-on-hover-selected-option-color: #fff;
  --select-on-hover-selected-option-border-color: var(--primary-color);
  --select-on-hover-selected-option-background-color: var(--primary-color);
  --select-on-hover-options-color: #888;
  --select-on-hover-options-border-color: var(--primary-color);
  --select-on-hover-options-background-color: #32373b;
  --select-on-hover-option-border-color: var(--primary-color);
  --select-on-hover-option-background-color: #32373b;
  --select-on-open-selected-option-border-color: var(--primary-color);
  --select-on-open-options-border-color: var(--primary-color);

  --fancy-title-background-color: var(--body-background-color);

  --tooltip-color: #fff;
  --tooltip-background-color: #32373b;

  --tag-color: #888;
  --tag-background-color: #32373b;
  --tag-selected-color: white;

  --post-summary-background-color: #262a2d;
  --post-summary-border-color: #32373b;
  --post-summary-border-color-on-hover: var(--primary-color);
  --post-summary-title-color: #dedede;
  --post-summary-title-color-on-hover: var(--primary-color);
  --post-summary-icons-color: #888;
  --post-summary-box-shadow: none;

  --post-background-color: #262a2d;
  --post-box-shadow: none;

  /* colors inspiration: https://material-ui.com/fr/components/alert/ */
  --info-background-color: rgb(3, 14, 24);
  --info-text-color: rgb(166, 213, 250);
  --warn-background-color: rgb(25, 15, 0);
  --warn-text-color: rgb(255, 213, 153);
  --error-background-color: rgb(24, 6, 5);
  --error-text-color: rgb(250, 179, 174);
  --quote-background-color: #32373b;
  --quote-text-color: #999;

  --code-color: #d1d2d3;
  --code-background-color: #32373b;
  --code-line-numbers-color: #888;
  --code-line-numbers-background-color: #394048;
  --code-tab-background-color-on-hover: #394048;
  --code-copy-icon-color: #888;

  --comment-background-color: #32373b;
  --comment-author-color: #f0f3f7;
  --comment-created-at-color: #d1d2d3;
  --comment-metadata-border-color: #394048;
  --comment-metadata-color: #c9c9c9;
  --comment-body-color: #c9c9c9;

  --navbar-link-color: #d1d2d3;
  --navbar-link-background-color-on-hover: #262a2d;

  --dropdown-color: #888;
  --dropdown-background-color: #262a2d;
  --dropdown-item-background-color-on-hover: #36393b;
  --select-selected-option-background-color: #32373b;

  --input-color: #d1d2d3;
  --input-background-color: #32373b;
  --input-border-color: #394048;

  --mat-table-header-color: var(--body-color);
  --mat-table-header-background-color: #394048;
  --mat-table-body-color: var(--body-color);
  --mat-table-body-background-color: #262a2d;
  --mat-table-body-row-border-color: #394048;
  --mat-table-body-last-row-border-color: var(
    --mat-table-body-background-color
  );
}

body.light {
  --primary-color: #078eed;
  --body-color: #555;
  --navbar-icon-color: #333;
  --body-background-color: #fff;
  --welcome-message-title-color: #555;
  --welcome-message-color: #555;
  --logo-text-color: rgb(51, 51, 51);
  --tooltip-color: #fff;
  --tooltip-background-color: #333;
  --box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --border-color: #eee;

  --search-posts-tags-border-color: #ccc;
  --search-posts-tags-border-color-on-active: var(--primary-color);
  --select-selected-value-color: #888;
  --search-posts-tags-background-color: #eee;
  --search-posts-input-color: #555;
  --search-posts-input-background-color: inherit;
  --search-posts-input-placeholder-color: #888;
  --search-posts-icon-color: #888;
  --search-posts-icon-background-color: inherit;

  --fancy-title-background-color: var(--body-background-color);

  --tooltip-color: #fff;
  --tooltip-background-color: #333;

  --tag-color: #888;
  --tag-background-color: #f2f2f2;
  --tag-selected-color: white;

  --post-summary-background-color: #fafafa;
  --post-summary-border-color: #fafafa;
  --post-summary-border-color-on-hover: #fafafa;
  --post-summary-title-color: #828286;
  --post-summary-title-color-on-hover: var(--primary-color);
  --post-summary-icons-color: #888;
  --post-summary-box-shadow: var(--box-shadow);

  --post-background-color: var(--body-background-color);
  --post-box-shadow: var(--box-shadow);

  /* colors inspiration: https://material-ui.com/fr/components/alert/ */
  --info-background-color: rgb(232, 244, 253);
  --info-text-color: rgb(13, 60, 97);
  --warn-background-color: rgb(255, 244, 229);
  --warn-text-color: rgb(102, 60, 0);
  --error-background-color: rgb(253, 236, 234);
  --error-text-color: rgb(97, 26, 21);
  --quote-background-color: #fafafa;
  --quote-text-color: #888;
  --quote-text-font-style: italic;

  --code-color: #555;
  --code-background-color: #f8f9fa;
  --code-line-numbers-color: #777;
  --code-line-numbers-background-color: #eee;
  --code-tab-background-color-on-hover: #eee;
  --code-copy-icon-color: #777;

  --comment-background-color: #f8f9fa;
  --comment-author-color: rgb(68, 68, 68);
  --comment-created-at-color: #555;
  --comment-metadata-border-color: #eee;
  --comment-body-color: #555;

  --navbar-link-color: #555;
  --navbar-link-background-color-on-hover: #eee;

  --dropdown-color: #888;
  --dropdown-background-color: white;
  --dropdown-item-background-color-on-hover: #eee;
  --select-selected-option-background-color: #eee;

  --input-color: #555;
  --input-background-color: #f8f9fa;
  --input-border-color: #eee;

  --mat-table-header-color: var(--body-color);
  --mat-table-header-background-color: #eee;
  --mat-table-body-color: var(--body-color);
  --mat-table-body-background-color: #fff;
  --mat-table-body-row-border-color: #eee;
  --mat-table-body-last-row-border-color: var(
    --mat-table-body-row-border-color
  );
}
