<nav>
  <div class="left">
    <app-logo-link></app-logo-link>
  </div>
  <div class="right">
    <ng-container *ngIf="!user.isAuthenticated">
      <a (click)="handleChangeThemeColorClickEvent($event)">Toggle theme</a>
      <a class="login" href="/oauth2/authorization/github" (click)="preLogin()"
        >Login with
        <span class="login-icon iconify" data-icon="fe:github"></span
      ></a>
    </ng-container>
    <ng-container *ngIf="user.isAuthenticated">
      <span class="welcome">Welcome {{ user.username }}</span>
      <app-user-avatar
        [matMenuTriggerFor]="menu"
        (mouseover)="onMouseOver()"
        #profileDropdownTrigger="matMenuTrigger"
        [user]="user"
        [matMenuTriggerFor]="menu"
      ></app-user-avatar>

      <mat-menu #menu="matMenu" xPosition="before">
        <span mat-menu-item (click)="handleChangeThemeColorClickEvent($event)"
          >Toggle theme</span
        >
        <span mat-menu-item>Manage Posts</span>
        <hr />
        <a mat-menu-item href="/logout">Logout</a>
      </mat-menu>
    </ng-container>
  </div>
</nav>
