<app-manage-resources-page-layout
  pageTitle="My Posts"
  [previousButtonCssClasses]="previousButtonCssClasses"
  [nextButtonCssClasses]="nextButtonCssClasses"
  (previousButtonClick)="handlePreviousButtonClickEvent()"
  (nextButtonClick)="handleNextButtonClickEvent()"
  (filter)="onFilter($event)"
>
  <ng-container class="top-table-actions">
    <app-delete-rounded-button
      tooltip="delete all your posts"
      (click)="deleteAllUserPosts()"
    >
    </app-delete-rounded-button>
    <app-download-rounded-button
      tooltip="download all your posts"
      (click)="downloadAllUserPosts()"
    >
    </app-download-rounded-button>
    <app-upload-rounded-button
      (fileUpload)="onFileUpload($event)"
      tooltip="upload posts"
    >
    </app-upload-rounded-button>
    <app-new-rounded-button
      routerLink="/posts/new"
      tooltip="create new post"
    ></app-new-rounded-button>
  </ng-container>

  <ng-container class="table">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <app-post-status [status]="element.status"></app-post-status>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let element">{{element.createdAt | date}}</td>
      </ng-container>

      <ng-container matColumnDef="lastUpdatedAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Last Updated At
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.lastUpdatedAt ? (element.lastUpdatedAt | date) : 'N/A'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="row-actions">
            <app-consult-button-link
              [routerLink]="['/posts', element.slug, 'consult']"
            ></app-consult-button-link>
            <app-edit-button-link
              [routerLink]="['/posts', element.slug, 'edit']"
            ></app-edit-button-link>
            <app-delete-button
              (click)="deletePost(element.id)"
            ></app-delete-button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row class="row" *matRowDef="let row; columns: columns;"></tr>
    </table>
  </ng-container>
</app-manage-resources-page-layout>
