.login {
  display: flex;
  align-items: center;
  color: var(--navbar-link-color);
  text-decoration: none;
  cursor: pointer;
}

a {
  display: flex;
  align-items: center;
}

.login-icon {
  margin-left: 1rem;
  font-size: 2.3rem;
}

app-dropdown-icon {
  line-height: initial;
}
