<div class="login" [matMenuTriggerFor]="menu" #dropdownTrigger="matMenuTrigger">
  <span>Login</span>
  <app-dropdown-icon class="dropdown-icon"></app-dropdown-icon>
  <div *ngIf="!loginFeatureAlreadyHighlighted" class="login-message">
    <p>
      Logged in users can add feedbacks, comments and much more on our
      website...
    </p>
    <p class="give-it-a-try">
      Give it a try <span class="iconify" data-icon="vaadin:smiley-o"></span>
    </p>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <a mat-menu-item href="/oauth2/authorization/github" (click)="preLogin()"
    >Login with <span class="login-icon iconify" data-icon="fe:github"></span
  ></a>
  <a mat-menu-item href="/oauth2/authorization/google" (click)="preLogin()"
    >Login with <span class="login-icon iconify" data-icon="fe:google"></span
  ></a>
</mat-menu>
