:host {
  @media screen and (max-width: 480px) {
    --search-posts-width: 100%;
  }

  @media screen and (min-width: 480px) and (max-width: 720px) {
    --search-posts-width: 90%;
  }

  @media screen and (min-width: 720px) and (max-width: 1024px) {
    --search-posts-width: 80%;
  }

  @media screen and (min-width: 1024px) {
    --search-posts-width: 70%;
  }
  width: var(--search-posts-width);
  margin: 0 auto;

  &.active {
    & .container {
      border-color: var(--search-posts-tags-border-color-on-active);
    }
  }
}

.container {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 100rem;
  transition: var(--transition);
  transition-property: color, background-color, border-color;
  overflow: hidden;
  border: 1px solid var(--search-posts-tags-border-color);

  & > * {
    padding: var(--search-posts-padding, 1rem);
    height: var(--search-posts-height, 4rem);
    transition: var(--transition);
    transition-property: color, background-color, border-color;
  }
}

.container .tags {
  flex-grow: 0;
  padding: 0;
  --select-padding-left: 2.6rem;
}

.container .search-input {
  flex-grow: 1;
  font-size: 1.6rem;
  border: none;
  outline: none;
  color: var(--search-posts-input-color);
  background: var(--search-posts-input-background-color);
  padding-left: 1.5rem;

  &::placeholder {
    color: var(--search-posts-input-placeholder-color);
    opacity: 1; /* Firefox */
  }
}

.container .icon {
  font-size: 2.5rem;
  color: var(--search-posts-icon-color);
  background-color: var(--search-posts-icon-background-color);
  padding-right: 1.5rem;
}
