:host {
  border-radius: 100%;
  border: 0.2rem solid var(--primary-color);
  background-color: inherit;
  transition: var(--transition);
  transition-property: background-color;
  cursor: pointer;

  & a {
    color: var(--primary-color);
    transition: var(--transition);
    transition-property: color;
  }
}

:host:hover {
  background-color: var(--primary-color);
  & a {
    color: #fff;
  }
}

.iconify {
  font-size: 3.5rem;
}
