@import "../../../../../styles/mixin";

form {
  padding: 2rem;
  padding-right: 0;
  margin-bottom: 2rem;
}

.comment-input {
  display: flex;

  & app-user-avatar {
    @include avatar;
  }

  & textarea {
    height: 4.5rem;
  }
}

.comment-submit {
  display: flex;
  justify-content: flex-end;
}

.not-authenticated {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}
