<form
  *ngIf="userState.authenticated"
  action="/secure-api/comment"
  method="POST"
>
  <div class="comment-input">
    <input type="text" hidden name="postId" [value]="postId" />
    <app-user-avatar [user]="userState.user"></app-user-avatar>
    <textarea placeholder="Add a comment..." name="value" rows="2"></textarea>
  </div>
  <div class="comment-submit">
    <button type="submit">Add Comment</button>
  </div>
</form>
<div *ngIf="!userState.authenticated" class="not-authenticated">
  <app-login-with-github></app-login-with-github>
</div>
