:host {
  --fancy-title-background-color: var(--post-background-color);
}

app-fancy-title {
  display: block;
  margin: 6rem 0 4rem;
}

app-comment {
  margin-bottom: 1.5rem;
}

app-comment:last-of-type {
  margin-bottom: 0;
}
