.container {
  background-color: var(--article-summary-background-color);
  padding: var(--article-summary-padding, 3.2rem);
  border-bottom: 2px solid var(--article-summary-border-color);
  transition: var(--transition);
  transition-property: background-color, border-color;
  cursor: pointer;
}

:host:hover .container {
  border-color: var(--article-summary-border-color-on-hover);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--article-summary-title-color);
  transition: var(--transition);
  transition-property: color;
  margin-bottom: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host:hover .title {
  color: var(--article-summary-title-color-on-hover);
}

.tags {
  margin-bottom: 1.6rem;
}

.publish-date {
  font-size: 1.4rem;
  color: var(--article-summary-icons-color);
}

.iconify {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: var(--article-summary-icons-color);
  transition: var(--transition);
  transition-property: color;
}
