:host {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--body-background-color);
  transition: box-shadow 0.2s ease-in;
}

:host.shadow {
  box-shadow: var(--box-shadow);
}

nav {
  margin: 0 auto;
  width: var(--main-page-width);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right span {
  padding: 0 2rem;
  line-height: var(--navbar-height);
  font-size: 1.5rem;
  height: var(--navbar-height);
  display: inline-block;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--navbar-link-background-color-on-hover);
  }
}
