<div class="container">
  <div class="tags">
    <mat-select
      [(value)]="selectedTag"
      (selectionChange)="onTagSelection($event)"
      panelClass="tags-overlay-panel"
    >
      <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
    </mat-select>
  </div>
  <input
    class="search-input"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    (keyup)="onInputKeyup($event)"
    placeholder="Search posts..."
    type="text"
  />
  <div class="ion ion-ios-search icon"></div>
</div>
