<form *ngIf="user.isAuthenticated" #commentForm="ngForm">
  <div class="comment-input">
    <input type="text" hidden name="slug" [ngModel]="slug" />
    <app-user-avatar [user]="user"></app-user-avatar>
    <div class="textarea">
      <textarea
        #commentTextarea
        placeholder="Leave a comment..."
        name="value"
        rows="2"
        ngModel
      ></textarea>
    </div>
    <app-send-rounded-button
      (click)="onSubmit(commentForm)"
      data-tooltip="send your comment"
      class="tooltip-top send-button"
    ></app-send-rounded-button>
  </div>
</form>
<div *ngIf="!user.isAuthenticated" class="not-authenticated">
  Please login to add comments
</div>
