:host {
  @media screen and (max-width: 720px) {
    --article-width: 100%;
    --article-padding: 3rem;
    --article-margin-top: 2rem;
    --article-margin-bottom: 2rem;
  }

  @media screen and (min-width: 720px) and (max-width: 1024px) {
    --article-width: 93%;
    --article-padding: 5rem;
    --article-margin-top: 3rem;
    --article-margin-bottom: 3rem;
  }

  @media screen and (min-width: 1024px) {
    --article-width: 85%;
    --article-padding: 8rem;
    --article-margin-top: 4rem;
    --article-margin-bottom: 4rem;
  }

  display: block;
  background: var(--article-background-color);
  padding: var(--article-padding);
  border-radius: var(--article-border-radius, 0.4rem);
  width: var(--article-width);
  margin-top: var(--article-margin-top);
  margin-right: auto;
  margin-bottom: var(--article-margin-bottom);
  margin-left: auto;
  box-shadow: var(--article-box-shadow);
  transition: var(--transition);
  transition-property: color, background-color, box-shadow;
}

:host ::ng-deep h2 {
  margin: 3rem 0 1.6rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.235;
}
