.iconify {
  font-size: var(--edit-button-size, 4.5rem);
  color: var(--icon-color);
  transition: var(--transition);
  transition-property: color;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}
