.mat-menu-panel {
  background: var(--dropdown-background-color);
}

.mat-menu-item {
  color: var(--dropdown-color);
  line-height: 5rem;
  height: 5rem;

  &:hover {
    background: var(--dropdown-item-background-color-on-hover) !important;
  }
}

.mat-menu-content hr {
  margin: 0 0.5rem;
}
