app-fancy-title {
  --fancy-title-underline-width: 250%;
  --fancy-title-background-color: var(--primary-color);
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 2rem;
}
