:host {
  display: block;
  @media screen and (max-width: 480px) {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 720px) {
  .mat-column-category,
  .mat-column-createdAt {
    display: none;
  }
}

app-page-title-delete-button {
  --page-title-button-color-on-hover: var(--danger-color);
}
